<%- include('../partials/header') %>

<h1><%= bar.name %></h1>
<h1><%= bar.location %></h1>
<form method="POST" action="/bars/<%= bar._id %>?_method=DELETE">
    <button class="delete" type="submit">Delete</button>
</form>
<hr />
<h3>Bars:</h3>
<% bar.beers.forEach(function(beer) { %>
    <p><%= beer.name %> - <a href="/bars/<%= bar._id %>/beers/<%= beer._id %>/remove">Stop Serving</a></p>
<% }); %>

<main>
    <h3>Add a beer to a bar</h3>
    <form method="POST" action="/bars/<%= bar._id %>/beers">
        <select name="beer">
            <% beers.forEach(function(beer) { %>
                <option value="<%= beer._id %>"><%= beer.name %></option>
            <% }); %>
        </select>
        <br>
        <br>
        <input type="submit" value="Add Beer">
    </form>
</main>

<%- include('../partials/footer') %>